* {
  background-color: #003049;
}
h1 {
  color: azure;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

#container {
  width: 1200px;
  height: 700px;
  margin: 20px auto;
  display: flex;
  border: 1px #003049 solid;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: 003049;
  border: 1px #003049 solid;
  border-radius: 10px;
  font-family: fantasy;
  text-align: center;
  width: 200px;
  height: 200px;
  transition: 0.5s;
  flex-basis: 200px;
}

div:nth-child(3) {
  font-size: 100px;
}
div:nth-child(2) {
  font-size: 50px;
}
div:nth-child(4) {
  font-size: 50px;
}
div:nth-child(1) {
  font-size: 30px;
}
div:nth-child(5) {
  font-size: 30px;
}

div:hover {
  background-color: tomato;
  margin: 0em auto;
  height: 70%;
  border: 5px tomato solid;
  opacity: 50%;
  font-size: 500%;
  color: black;
  border-radius: 50%;
  flex-grow: 1;
}
