* {
  text-align: center;
  margin: 10px auto;
}

p {
  margin-top: 2000px;
}

#trans {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  transition: 1s;
  border: 20px palevioletred solid;
}
#trans:hover {
  background-color: cyan;
  border-radius: 50%;
}

#tra div {
  background-color: chartreuse;
  width: 100px;
  height: 100px;
  margin: 15px;
  border: 4px violet solid;
  border-radius: 10%;
  display: inline-block;
  transition: 3s;
}

#tra div:hover {
  margin-top: 200px;
  border-radius: 50%;
  opacity: 1;
  background-color: coral;
}

#one {
  transition-timing-function: ease-in;
}
#two {
  transition-timing-function: ease-out;
}
#three {
  transition-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
}
#four {
  transition-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
}
#five {
  transition-timing-function: ease-in-out;
}
