h1 {
  color: aquamarine;
  background-color: rgb(100, 10, 145);
}
h2 {
  color: #ff0000;
  background-color: lightblue;
}

button {
  color: #cfe;
  background-color: blueviolet;
}
p {
  color: black;
  background-color: aquamarine;
}
/* Semicolon is required after every property */
