h1 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  /* letter-spacing: 5em; */
  color: blueviolet;
  text-decoration: red underline dashed;
}
h2 {
  text-align: center;
  color: bisque;
  text-decoration: solid green underline;
}
p {
  text-align: center;
  background-color: lightcoral;
  color: black;
  text-decoration: solid underline;
  font-weight: 800;
  line-height: 2em;
}
