body {
  background-color: skyblue;
  font-family: "Open-Sans";
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

#whole_panel {
  box-shadow: 5px 5px 5px 5px #003049;
  background-color: white;
  border: 3px royalblue solid;
  border-radius: 1.5%;
  width: 100%;
  max-width: 1100px;
  padding: 10px 10px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

#whole_panel div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px #003049 solid;
  margin-bottom: 10px;
}

img {
  width: 100%;
  margin-bottom: 25px auto;
  height: 60%;
}

a {
  margin: 5px auto;
  border: 2px #003049 solid;
  padding: 20px;
  border-radius: 20%;
  color: white;
  background-color: #48aaff;
  font-family: "Open-Sans";
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  transition: 0.1s;
  margin-bottom: 10px;
}

span {
  margin: 20px auto;
  font-size: 30px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  color: blueviolet;
}

h2 {
  letter-spacing: 1px;
  margin: 20px auto;
  font-size: 20px;
  font-weight: 900;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  padding-top: 10px;
  line-height: 1.5em;
  letter-spacing: 1px;
  font-weight: 600px;
  border-top: 1px #106077 solid;
  font-size: 20px;
  color: mediumblue;
  font-family: "Arial Narrow Bold", sans-serif;
}

LI:last-child {
  border-top: NONE;
}

a:hover {
  box-shadow: 1px 1px 1px 1px #003049;
}

@media (min-width: 900px) {
  #whole_panel {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  li {
    text-align: center;
  }
  #whole_panel div {
    border-right: 1px #003049 solid;
  }
  img {
    width: 100%;
    max-width: 250px;
  }

  #whole_panel div:last-child {
    border-right: none;
  }
}
